* {
    box-sizing: border-box;
    /* border: solid 1px black; */
}

body {
    margin: 0;

}

html, body {
    font-family:'Oxygen', sans-serif;
}

h1, h2, h3, h4 {
    color: #2e2e2e;
}

p, li {
    color: #474747;
}

header {
    width: 100vw;
    min-height: 9vh;
    display: flex;
    background-color: white;
    position: fixed;
    top: 0;
    border-bottom: solid 5px slategrey;
    z-index: 30;
}


.btn-navigation {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 20;
    cursor: pointer;
}

.btn-navigation .barre {
    width: 30px;
    height: 3px;
    background: #111;
    margin-top: 5px;
}

nav {
    position: fixed;
    right: 0;
    top: 10vh;
    background-color: slategrey;
    padding: 0 30px;
    width: 360px;
    height: 91vh;
    z-index: 10;

    transition: transform .6s ease-in-out;
    -webkit-transition: transform .6s ease-in-out;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

nav.isOpen {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

nav ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translatey(-50%);
}

nav ul li {
    margin: 10px 0;

}

nav ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: .050em;
    font-weight: 800;
}


#titre {
    margin-left: 1em;
}

#titre h2 {
    margin: 2rem 0;
}

.section1 {
    padding: 5%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 80px;
}

.photo {
    margin: 6%;
    width: 50%;
    flex: 1 1 400px;
}

.photo img{ 
    width: 100%;
    height: 100%;
    /* flex: 1 1 200px; */
    object-fit: cover;
}


.description {
    background-color: white;
    width: 40%;
    padding: 6%;
    font-size: 25px;
    text-decoration: none;
    flex: 1 1 400px;
}

.tableau {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 60px;
    flex-direction: column;
    color: black;
    padding-top: 3rem;
    background-color: #4e54c8;
    z-index: -10;
}

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:110vh;
    position: absolute;
    z-index: 0;
    
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.container {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    z-index: 1;
}

.travail {
    background-color: white;
    flex: 1 1 345px;
    flex-wrap: wrap;
    min-height: 400px;
    min-width: 300px;
    border-radius: 10px;
    text-align: center;
    margin: 1em;
    transition: all 0.5s;
    padding: 1em;
}

.head {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}

.head h2 {
    font-size: 40px;
    color: whitesmoke;
}

.container div:hover {
    box-shadow: 3px 3px 3px black;
    transform: translateY(-10px);
}

.travail img {
    width: 100%;
    padding-bottom: 3rem;
}

.formulaire {
    margin: auto ;
    display: flex;
    width: 60%;
    flex-wrap: wrap-reverse;
    justify-content: center;
    background-color: whitesmoke;
    z-index: 5;
    position: relative;
}

.contact {
    text-align: center;
    width: 100%;
    padding: 1rem;
    flex-direction: row;
}

.contact input {
    flex-direction: row;
    margin: 10px auto;
}
.prénom, .nom {
    width: 47%;
    height: 30px;
}

.email {
    height: 30px;
}

.message {
    height: 200px;
}

.email, .message {
    width: 94.5%;
}


.contact button {
    align-items: center;
    border-radius: 30px;
    background-color: coral;
    color: white;
    margin: 1rem;
    padding: 1rem;
    
}

footer {
    /* height: 400px; */
    background-color: black;
    color: white;
    margin-top: -2rem;
    padding-top: 7rem;
}

.container6 {
    margin: 0 auto;
    width: 80%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.container6 div {
    width: 50%;
    margin: 1rem;

}

.propos h3 {
    color: whitesmoke;
    text-align: end;
}

#navigation  {
    padding-left: 2rem;
}

#navigation h3 {
    color: whitesmoke;
}


#copyright p {
    color: whitesmoke;
    text-align: center;
    margin: 0;
    padding: 2rem;
}

@media screen and (max-width: 570px) {

    .container {
        width: 90%;
    }

    .prénom, .nom, .email, .message {
        width: 90%;
    }

}

@media screen and (max-width: 400px) {
    footer h3, a {
        font-size: 12px;
    }
    
    #navigation ul {
        padding-left: 1rem;
    }
}